html {
    background: url("../img/wall-751342_1920.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

::-webkit-input-placeholder {
    font-family: Arial;
    font-size: 15px;
    vertical-align: middle;
}

.find-item-button {
    cursor: pointer;
    margin-top: 20px;
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #e85f5f;
    padding: 6.5px 10px 7px 10px;
    border: none;
    font-size: 15px;
    color: #fff;
}

.find-item-button:hover {
    opacity: 0.9;
}

.find-item-text {
    color: #454545;
    margin-left: 400px;
    border: 1px solid #fff;
    border-bottom: 2px solid #e85f5f;
    padding: 5px 10px 5px 10px;
    font-family: "Times New Roman", Georgia, Serif;
    width: 560px;
    font-size: 15px;
}

.find-item-button {
    margin-left: -4px;
    width: 150px;
}

img {
    width: 300px;
    height: 200px;
}

.output {
    margin-top: 50px;
}

.main {
    cursor: pointer;
    margin-top: 10px;
    width: 730px;
    background: #fff;
    margin-left: 400px;
    color: #333;
    max-height: 200px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    max-width: 750px;
}

.main:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: .5s;
}

.item:nth-child(2) {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    margin-top: -190px;
    margin-left: 320px;
    color: #e85f5f;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 17px;
    width: 270px;
}

.item:nth-child(2):after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2), #fff 100%);
}

.item:nth-child(3) {
    position: absolute;
    margin-top: -150px;
    margin-left: 320px;
    color: #e85f5f;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 17px;
}

.item:nth-child(4) {
    position: absolute;
    margin-top: -130px;
    margin-left: 320px;
    color: #e85f5f;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 17px;
}

.item:nth-child(5) {
    position: absolute;
    margin-top: -204px;
    margin-left: 595px;
    color: #fff;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 17px;
    background: #e85f5f;
    padding: 8px;
    width: 120px;
    text-align: center;
}